.contact .container {
  display: flex;
  padding-top: 5rem;
}
.contact .contactFormContainer {
  flex: 1;
  padding-right: 1rem;
}
.contact .contactFormContainer h1 {
  font-size: 2rem;
  color: #4ebc7c;
  margin-bottom: 4rem;
}
.contact .inputGroup {
  margin-bottom: 3rem;
}
.contact .inputGroup p {
  font-size: 1.5rem;
  color: #4ebc7c;
}
.contact .inputGroup input,
.contact .inputGroup textarea {
  width: 100%;
  font-size: 1.5rem;
  padding: 1rem;
  border-radius: 5px;
  border: none;
  background-color: #858585;
}
.contact .inputGroup textarea {
  height: 400px;
  resize: none;
}
.contact .inputGroup button {
  margin-left: auto;
  font-size: 1.4rem;
  padding: 0.5rem 4rem;
  background-color: #007acc;
  display: block;
  border: none;
}

.social {
  flex: 1;
  padding-left: 1rem;
}
.social .twitterBlock {
  margin-bottom: 3rem;
  display: flex;
  justify-content: center;
}
.social .twitterBlock iframe {
  background-color: #252526;
}
.social h3 {
  font-size: 1.3rem;
  color: white;
  text-align: center;
  margin-bottom: 2rem;
}
.social .socialIcons {
  font-size: 5rem;
  width: 50%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.social .socialIcons a {
  color: white;
}
.social .socialIcons a:hover {
  color: #4ebc7c;
}
