@media (max-width: 1024px) {
  .contact .container {
    display: block;
  }

  .social .twitterBlock {
    display: none;
  }
}
@media screen and (max-width: 550px) {
  .contact {
    width: 100%;
  }
  .contact h1 {
    font-size: 1.5rem;
  }
}
