$topBar: #3c3c3c;
$tabBar: #252526; //sidebar
$navbarBackground: #333333;
$defaultIcon: #858585;
$inactiveTab: #2d2d2d;
$activeTab: #1e1e1e;

$footer: #007acc;

$componentName: #4ebc7c;
$componentAttr: #9cdcfe; // also curly braces 1
$jsxTag: #499cd6; //also bool in comp
$tagBrackets: #808080;
$bracketsColor1: $componentAttr;
$bracketsColor2: #da63a1;
$bracketsColor3: #dbd700;
$function: #dccd79;

$projectsSideBarWidth: 200px;
$navBarWidth: 75px;
