@import './vars';

.container {
	width: 80%;
	margin: 0 auto;
}
.pageBackground {
	position: absolute;
	top: -10%;
	right: 20%;
	z-index: -10;
	color: $defaultIcon;
	p {
		font-size: 40rem;
		opacity: 0.08;
	}
}
.siteBackground {
	position: absolute;
	top: -20%;
	left: 102%;
	white-space: nowrap;
	transform: rotate(90deg);
	transform-origin: top left;
	z-index: -10;
	p {
		font-size: 20rem;
		color: $componentName;
		opacity: 0.13;
	}
}

@media screen and (max-width: 550px) {
	.content {
	}
}
