.project-card {
  position: relative;
  overflow: hidden;
}
.project-card__image {
  width: 100%;
  padding-top: 56.25%;
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
}
.project-card__image img {
  max-width: 100%;
}
.project-card__admin-buttons {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
}
.project-card__admin-buttons .btn {
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  width: auto;
  padding: 1rem 1.5rem;
  margin-right: 0.5rem;
}
.project-card__admin-buttons .danger {
  background-color: #a50f0f;
}
.project-card__details {
  background-color: #2d2d2d;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 1rem;
  opacity: 1;
  color: white;
  clip-path: polygon(100% 50%, 100% 50%, 100% 50%, 100% 50%);
  transition: clip-path 500ms;
}
.project-card__title {
  font-size: 2em;
  margin-bottom: 1rem;
  margin-top: 1vw;
}
@media (max-width: 43rem) {
  .project-card__title {
    font-size: clamp(1.1em, 4vw, 1.7em);
  }
}
.project-card__links {
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 5%;
  left: 0;
  width: 100%;
  padding: 0 1rem;
}
@media (max-width: 43rem) {
  .project-card__link {
    font-size: 0.8em;
    width: auto !important;
    padding: 0.5rem 0.8rem !important;
  }
}
@media (max-width: 43rem) {
  .project-card__blurb {
    line-height: clamp(1em, 4vw, 1.5em);
    font-size: clamp(0.9em, 4vw, 1.5em);
  }
}
.project-card__show-details {
  position: absolute;
  top: 0;
  bottom: 0;
  background-color: #007acc;
  right: 0;
  font-size: 2rem;
  color: white;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  z-index: 3;
}
.project-card__show-details:hover {
  opacity: 0.5;
}
.project-card .details-open {
  transition: bottom 300ms 300ms, background-color 300ms 300ms;
  bottom: 90%;
  background-color: red;
}
.project-card .details-open + .project-card__details {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}
