@import '../../vars';
.projects {
	min-height: 100vh;
	z-index: 10;
	position: relative;
	.projectContainer {
		display: grid;
		grid-template-columns: 1fr 1fr;
		margin-top: 7rem;
	}
	.projectInfo {
		color: white;
		h1 {
			font-size: 2rem;
			margin-bottom: 4rem;
		}
		p {
			font-size: 1.5rem;
			line-height: 2.3rem;
			margin-bottom: 4rem;
		}
		a {
			color: $footer;
			text-decoration: none;
			font-size: 1.5rem;
		}
	}
	.projectImage {
		align-items: center;
		justify-content: center;
		display: flex;

		img {
			width: 100%;
			max-width: 500px;
			object-fit: contain;
		}
	}
}
