@import '../../vars';
.projects {
	.sidebar {
		padding-top: 75px;
		width: 200px;
		height: 100vh;
		background-color: $tabBar;
		position: fixed;
		top: 0;
	}
	.projectTitles {
		display: none;
	}
	.folderOpen {
		display: block;
	}

	.mainContent {
		margin-left: $navBarWidth + $projectsSideBarWidth;
		padding-top: 100px;
	}
}
