@use './abstracts' as *;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500&display=swap');
body {
	font-family: 'Poppins', sans-serif;
	overflow-x: hidden;
	background-color: #1e1e1e;
}
.bodyBackground {
	background-color: #1e1e1e;
}

.container {
	width: 80%;
	margin: 0 auto;
	max-width: 1920px;
	@media (max-width: 42rem) {
		width: 94%;
	}
}
.pageBackground {
	position: fixed;
	top: -10%;
	right: 20%;
	z-index: -10;
	color: $defaultIcon;
	p {
		font-size: 40rem;
		opacity: 0.08;
	}
}
.siteBackground {
	position: fixed;
	top: -20%;
	left: 102%;
	white-space: nowrap;
	transform: rotate(90deg);
	transform-origin: top left;
	z-index: -10;
	p {
		font-size: 20rem;
		color: $componentName;
		opacity: 0.13;
	}
}

.button-link,
.btn {
	background-color: $footer;
	padding: 0.7em 0;
	text-decoration: none;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 14rem;
	border: none;
	svg {
		margin-left: 0.5em;
		font-size: 1.2em;
	}
}

@media (max-width: 1920px) {
	.siteBackground {
		top: -15%;
		p {
			font-size: 15rem;
		}
	}
	.pageBackground {
		top: 5%;
		p {
			font-size: 30rem;
		}
	}
}
@media (max-width: 1300px) {
	.siteBackground {
		top: -15%;
		p {
			font-size: 10rem;
		}
	}
	.pageBackground {
		top: 5%;
		p {
			font-size: 20rem;
		}
	}
}
@media (max-width: 800px) {
	.siteBackground {
		top: 5%;
		p {
			font-size: 7rem;
		}
	}
	.pageBackground {
		top: 5%;
		p {
			font-size: 15rem;
		}
	}
}
@media (max-width: 500px) {
	.pageBackground {
		p {
			display: none;
		}
	}
}
