.signin {
  display: grid;
  place-items: center;
  padding-top: 5vw;
}
.signin__form {
  padding: 2em;
  display: flex;
  flex-direction: column;
  max-width: 25rem;
  width: 100%;
}
.signin__input {
  background: none;
  background-color: #808080;
  border: none;
  border-radius: 5px;
  padding: 1rem;
  font-size: 1.2rem;
  margin-bottom: 2rem;
}
.signin .btn {
  font-size: 1.25em;
  padding: 1em;
  background: #007acc;
  border: none;
  border-radius: 5px;
  color: white;
  transition: transform 250ms ease-out, opacity 250ms linear;
}
.signin .btn:hover {
  transform: scale(1.1);
  opacity: 0.8;
}
