.about {
  height: 100vh;
  padding-top: 100px;
  padding-left: 100px;
  font-family: 'Inconsolata', monospace;
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: 1.5rem; }
  .about .tab {
    padding-left: 5%; }
  .about .myImage img {
    width: 50%;
    object-fit: contain;
    margin-left: 20%; }
