@media only screen and (max-width: 550px) {
  .projectsGrid {
    width: 80%;
    max-width: 1400px;
    grid-template-columns: 1fr;
    gap: 50px;
    margin-bottom: 50px; }
  .projectCard {
    text-align: center; }
    .projectCard p {
      margin-bottom: 20px; }
  .projectImage {
    width: 250px;
    height: 200px;
    background: top left no-repeat;
    background-size: cover;
    margin: 0 auto;
    border-radius: 3px;
    margin-bottom: 20px; }
  .projectLinks {
    align-items: center;
    flex-direction: column; }
    .projectLinks a,
    .projectLinks p {
      margin-right: 0;
      font-size: 1rem;
      margin-bottom: 10px; } }
