@media (max-width: 1920px) {
	.home {
		font-size: 3rem;
		.tab {
			padding-left: 75px;
		}
		img {
			height: 2.3rem;
		}
		.object {
			width: 400px;
		}
	}
}

@media (max-width: 1024px) {
	.home {
		font-size: 2rem;
		.tab {
			padding-left: 50px;
		}
		img {
			height: 1.8rem;
		}
		.object {
			width: 300px;
		}
	}
}

@media (max-width: 800px) {
	.home {
		// font-size: 1.5rem;
	}
}

@media screen and (max-width: 550px) {
	.home {
		font-size: 1.2rem;

		margin-top: 0;
		padding-left: 0;
		padding-top: 50px;
		img {
			height: 1rem;
		}
		.tab {
			padding-left: 20px;
		}
		.object {
			width: 200px;
		}
	}
}
