.notFound {
  width: 90vw;
  height: 99vh;
  display: grid;
  justify-content: center;
  overflow: hidden;
  text-align: center; }
  .notFound .centerBox h1 {
    font-size: 20rem;
    color: white; }
  .notFound .centerBox h2 {
    color: white; }
  .notFound .centerBox a {
    color: white;
    font-size: 2rem; }
