.carousel {
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  bottom: 0%;
  padding: 3rem 0;
  backdrop-filter: blur(1rem);
}
.carousel .container {
  display: flex;
  justify-content: space-between;
}
.carousel .arrows {
  font-size: 5rem;
  color: #4ebc7c;
  display: grid;
  place-content: center;
}
.carousel .carouselBody img {
  height: 300px;
  cursor: pointer;
}
.carousel .selectedProject {
  border: solid 3px #007acc;
}

.about .carousel {
  bottom: 3%;
}
