.home {
  padding-left: 100px;
  width: 90vw;
  height: 100vh;
  font-size: 3rem;
  padding-top: 80px;
  font-family: 'Inconsolata', monospace; }
  .home img {
    object-fit: contain;
    height: 2.3rem; }
  .home .tag-fragment {
    color: #808080; }
  .home .component {
    color: #4ebc7c; }
  .home .attribute {
    color: #9cdcfe; }
  .home .bracket-1 {
    color: #9cdcfe; }
  .home .bracket-2 {
    color: #da63a1; }
  .home .bracket-3 {
    color: #dbd700; }
  .home .tab {
    padding-left: 108px;
    border-left: 1px solid darkgrey; }
  .home .object {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 500px;
    align-items: center; }
    .home .object img {
      justify-self: center; }
  .home .bool {
    color: #499cd6; }
  .home .function {
    color: #dccd79; }
  .home .cursor {
    animation: cursorFlash 0.5s linear infinite alternate;
    color: white; }

@keyframes cursorFlash {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
