@media (max-width: 1920px) {
  .home {
    font-size: 3rem;
  }
  .home .tab {
    padding-left: 75px;
  }
  .home img {
    height: 2.3rem;
  }
  .home .object {
    width: 400px;
  }
}
@media (max-width: 1024px) {
  .home {
    font-size: 2rem;
  }
  .home .tab {
    padding-left: 50px;
  }
  .home img {
    height: 1.8rem;
  }
  .home .object {
    width: 300px;
  }
}
@media screen and (max-width: 550px) {
  .home {
    font-size: 1.2rem;
    margin-top: 0;
    padding-left: 0;
    padding-top: 50px;
  }
  .home img {
    height: 1rem;
  }
  .home .tab {
    padding-left: 20px;
  }
  .home .object {
    width: 200px;
  }
}
