.about {
	height: 100vh;
	padding-top: 60px;
	padding-left: 30px;
	font-family: 'Inconsolata', monospace;
	color: white;
	display: grid;
	grid-template-columns: 1fr 1fr;
	place-items: center;
	font-size: 1.5rem;
	.tab {
		padding-left: 5%;
	}
	.myImage {
		place-self: center;
		img {
			width: 700px;
			object-fit: contain;
			max-height: 700px;
			border-radius: 500px;
		}
	}
}
