@import '../../vars';

.about {
	min-height: 98vh;
	// .pageBackground {
	// 	right: 20%;
	// }

	h1 {
		color: white;
		font-size: 2rem;
		margin-top: 10rem;
		margin-bottom: 4rem;
	}
	p {
		font-size: 1.5rem;
		color: white;
		width: 70%;
	}
}
