.projects {
  min-height: 100vh;
  z-index: 10;
  position: relative;
}
.projects .projectContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 7rem;
}
.projects .projectInfo {
  color: white;
}
.projects .projectInfo h1 {
  font-size: 2rem;
  margin-bottom: 4rem;
}
.projects .projectInfo p {
  font-size: 1.5rem;
  line-height: 2.3rem;
  margin-bottom: 4rem;
}
.projects .projectInfo a {
  color: #007acc;
  text-decoration: none;
  font-size: 1.5rem;
}
.projects .projectImage img {
  width: 100%;
}
