.contact {
  font-family: "Inconsolata", monospace;
  height: 100vh;
  padding: 100px;
}
.contact h1 {
  font-size: 3rem;
  margin-bottom: 60px;
}

.contactForm {
  width: 60%;
}
.contactForm .inputGroup {
  display: flex;
  align-items: flex-start;
  font-size: 2rem;
  margin-bottom: 30px;
}
.contactForm .inputGroup p {
  margin-right: 30px;
  width: 30%;
}
.contactForm .inputGroup input {
  width: 70%;
  margin-top: 1px;
  border: none;
  background-color: #3c3c3c;
  font-size: 2rem;
  padding: 5px 10px;
  font-weight: 200;
}
.contactForm .inputGroup textarea {
  border: none;
  background-color: #3c3c3c;
  width: 70%;
  margin-top: 7px;
  height: 200px;
  resize: none;
  padding: 5px 10px;
  font-size: 2rem;
  font-family: "Inconsolata", monospace;
}
.contactForm .inputGroup button {
  border: none;
  background: none;
  font-size: 2rem;
  margin-left: auto;
  cursor: pointer;
}
.contactForm .inputGroup button:hover {
  opacity: 0.7;
  transition: 0.2s ease-in;
}

.social {
  font-size: 3rem;
}
.social a {
  text-decoration: none;
  color: #858585;
  margin-right: 20px;
}
.social a:hover {
  color: white;
  transition: 0.2s ease-in;
}
.social h3 {
  font-size: 2rem;
  color: white;
  margin-bottom: 20px;
}
