@media screen and (max-width: 550px) {
	.contact {
		width: 100%;

		padding: 100px 20px 0 75px;

		h1 {
			font-size: 1.5rem;
		}
	}
	.contactForm {
		width: 100%;
		.inputGroup {
			flex-direction: column;
			font-size: 1.3rem;
			input {
				width: 100%;
			}
			textarea {
				width: 100%;
			}
			button {
				font-size: 1.3rem;
			}
		}
	}
	.social {
		text-align: center;
		h3 {
			font-size: 1.3rem;
		}
	}
}
