.navbar {
  background-color: #252526;
  padding: 5px 0;
}
.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar .brand a {
  color: #4ebc7c;
  text-decoration: none;
  font-size: 2rem;
}
.navbar nav {
  width: 35%;
  display: flex;
  justify-content: space-between;
}
.navbar nav a {
  color: white;
  font-size: 1.5rem;
  text-decoration: none;
  position: relative;
}
.navbar nav a::after {
  content: "";
  display: block;
  width: 50px;
  height: 5px;
  background-color: #4ebc7c;
  position: absolute;
  bottom: -10px;
  left: 50%;
  margin-left: -25px;
  opacity: 0;
}
.navbar nav a:hover {
  color: #4ebc7c;
  transition: all 0.3s;
}
.navbar nav a:hover::after {
  opacity: 1;
  transition: opacity 0.3s;
}
.navbar nav .current {
  color: #858585;
  cursor: default;
}
.navbar nav .current:hover {
  color: #858585;
}
.navbar nav .current:hover::after {
  opacity: 0;
}
.navbar nav .burger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  padding: 3px 0;
}
.navbar nav .burger div {
  width: 40px;
  height: 3px;
  background-color: white;
}
