@import '../../vars';

.carousel {
	width: 100vw;
	background-color: rgba(0, 0, 0, 0.2);
	position: fixed;
	bottom: 0%;
	padding: 3rem 0;
	backdrop-filter: blur(1rem);
	.container {
		display: flex;
		justify-content: space-between;
	}
	.arrows {
		font-size: 5rem;
		color: $componentName;
		display: grid;
		place-content: center;
	}
	.carouselBody {
		img {
			height: 300px;
			cursor: pointer;
		}
	}
	.selectedProject {
		border: solid 3px $footer;
	}
}
.about .carousel {
	bottom: 3%;
}
