@media (max-width: 1920px) {
	.carousel {
		.carouselBody {
			img {
				height: 250px;
			}
		}
	}
}
@media (max-width: 1300px) {
	.carousel {
		.carouselBody {
			img {
				height: 200px;
			}
		}
	}
}
@media (max-width: 760px) {
	.carousel {
		padding: 1rem 0;
		.carouselBody {
			width: 100px;
			img {
				height: 100px;
			}
		}
	}
}
