.container {
  width: 80%;
  margin: 0 auto;
}

.pageBackground {
  position: fixed;
  top: -10%;
  right: 20%;
  z-index: -10;
  color: #858585;
}
.pageBackground p {
  font-size: 40rem;
  opacity: 0.08;
}

.siteBackground {
  position: fixed;
  top: -20%;
  left: 102%;
  white-space: nowrap;
  transform: rotate(90deg);
  transform-origin: top left;
  z-index: -10;
}
.siteBackground p {
  font-size: 20rem;
  color: #4ebc7c;
  opacity: 0.13;
}

@media (max-width: 1920px) {
  .siteBackground {
    top: -15%;
  }
  .siteBackground p {
    font-size: 15rem;
  }

  .pageBackground {
    top: 5%;
  }
  .pageBackground p {
    font-size: 30rem;
  }
}
@media (max-width: 1300px) {
  .siteBackground {
    top: -15%;
  }
  .siteBackground p {
    font-size: 10rem;
  }

  .pageBackground {
    top: 5%;
  }
  .pageBackground p {
    font-size: 20rem;
  }
}
@media (max-width: 800px) {
  .siteBackground {
    top: 5%;
  }
  .siteBackground p {
    font-size: 7rem;
  }

  .pageBackground {
    top: 5%;
  }
  .pageBackground p {
    font-size: 15rem;
  }
}
@media (max-width: 500px) {
  .pageBackground p {
    display: none;
  }
}
